@charset "utf-8";
body{
    background-color: rgba(242,213,193,1.00);
    height: auto;
    background-image: -webkit-linear-gradient(270deg,rgba(254,251,250,1.00) 0%,rgba(210,112,40,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(254,251,250,1.00) 0%,rgba(210,112,40,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(254,251,250,1.00) 0%,rgba(210,112,40,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(254,251,250,1.00) 0.00%,rgba(210,112,40,1.00) 100%);
}
.header{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.header ul{
    list-style-type: none;
    color: white;
    font-family: "华文行楷";
    font-size: 30px;
}
.header ul li{
    color: darkgrey;
    font-family: "华文行楷";
    font-size: 30px;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}
ul li a{
    text-decoration: none;
    color: #000000;
}
a:hover{
    color: #D67632;
}
.box{
    width: 1000px;
    margin: 100 auto;
}
li{
	list-style: none;
	text-indent: 36px;
}
.footer{
	display: gird;
	margin-bottom: 40px;
}